#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <keymap_hu.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp FSLH  &kp STAR  &kp MINUS  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp N7  &kp N8  &kp N9  &kp PLUS  &kp N4  &kp N5  &kp N6  &kp N0  &kp N1  &kp N2  &kp N3  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &trans  &trans  &trans  &trans  &kp BSPC  &kp N1  &kp N2  &kp N3  &kp RET  &kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Z  &kp U  &kp I  &kp O  &kp P  &trans  &trans  &kp RET  &kp N0  &kp COMMA  &trans  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &trans  &trans  &trans  &trans  &trans  &kp Y  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp MINUS  &trans  &kp UP  &kp LCTRL  &trans  &kp LALT  &kp SPACE  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };
    };
};
