#include "keys_hu_101.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp HU_I_ACUTE                                      &kp KP_COMMA     &kp KP_N0                         &kp UP_ARROW     &kp LEFT_ALT     &kp F5         &kp F6          &kp HU_A_ACUTE                     &kp HU_H   &kp ESCAPE  &kp F4     &kp HU_G   &kp LWIN            &kp RWIN
&kp HU_X        &kp RIGHT_CONTROL  &kp RIGHT_SHIFT  &kp KP_ASTERISK  &kp KP_DIVIDE    &kp KP_NUMLOCK   &kp PAUSE_BREAK                   &kp ENTER      &kp HU_COMMA    &kp HU_U_DOUBLE_ACUTE  &kp HU_DOT  &kp HU_M   &kp HU_Y    &kp HU_C   &kp HU_V
&kp NUMBER_2                                        &kp PAGE_DOWN    &kp F12          &kp F11          &kp END          &kp PRINTSCREEN  &kp F10        &kp HU_N8       &kp HU_O_UMLAUT        &kp HU_N9   &kp HU_N7  &kp HU_N1   &kp HU_N3  &kp HU_N4
&kp F1          &kp LEFT_CONTROL                    &kp PAGE_UP      &kp INSERT       &kp DELETE       &kp HOME                          &kp F9         &kp HU_O_ACUTE  &kp HU_U_UMLAUT        &kp F8      &kp HU_N6  &kp HU_N0   &kp F2     &kp HU_N5
&kp HU_W                                            &kp KP_NUMBER_9  &kp KP_NUMBER_8  &kp KP_NUMBER_7  &kp KP_PLUS      &kp SCROLLLOCK                  &kp HU_I        &kp HU_P               &kp HU_O    &kp HU_U   &kp HU_Q    &kp HU_E   &kp HU_R
&kp CAPSLOCK                       &kp LEFT_SHIFT   &kp KP_NUMBER_6  &kp KP_NUMBER_5  &kp KP_NUMBER_4                                    &kp BACKSPACE  &kp HU_U_ACUTE  &kp HU_O_DOUBLE_ACUTE  &kp F7      &kp HU_Z   &kp TAB     &kp F3     &kp HU_T   &kp K_CONTEXT_MENU
&kp HU_S                                            &kp KP_NUMBER_3  &kp KP_NUMBER_2  &kp KP_NUMBER_1  &kp KP_ENTER                                     &kp HU_K        &kp HU_E_ACUTE         &kp HU_L    &kp HU_J   &kp HU_A    &kp HU_D   &kp HU_F
                                                    &kp KP_MINUS     &kp RIGHT_ARROW  &kp DOWN_ARROW   &kp LEFT_ARROW   &kp RIGHT_ALT    &kp SPACE                      &kp HU_MINUS                       &kp HU_N                          &kp HU_B
            >;
        };
    };
};
